
:root {
    --bgColor: #223344;
    --bgColor2: #090a0f;
    --accentColor: #DDD;
    --delay: .3s;
}

.primary1 {
    color: #006AFF;
}
.primary2 {
    color: #9147FE;
}
.primary3 {
    color: #FFB142;
}
.success1 {
    color: #00FF00;
}
.success2 {
    color: #1DB954;
}
.success3 {
    color: #18AA4A;
}
.danger1 {
    color: #FF0000;
}
.danger2 {
    color: #FF4500;
}
.danger3 {
    color: #DD2A7B;
}
.warning1 {
    color: #FFFC00;
}
.warning2 {
    color: #FFDD00;
}
.warning3 {
    color: #F1C40F;
}
.info1 {
    color: #1AB7EA;
}
.info2 {
    color: #66C0F4;
}
.info3 {
    color: #2867B2;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, var(--bgColor) 0%, var(--bgColor2) 100%);
    /* background-image: url('https://bit.ly/3nFVqJh'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.star-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    animation: 1s ease-out var(--delay) 1 transitionAnimation;
    animation-fill-mode: forwards;
}


#profilePicture, #profilePicture img {
    position: relative;
    width: 128px;
    height: 128px;
    display: block;
    margin: 40px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

.category {
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    background-color: transparent;
    color: var(--accentColor);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; /* 17px */
    text-decoration: none;
    transition: all .5s cubic-bezier(.08, .59, .29, .99);
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}

#hashtag {
    position: relative;
    padding-bottom: 20px;
    color: var(--accentColor);
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;


}


/*-------------------------animations-----------------------*/
@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}


/*-----------------------parallax-----------------------*/
/* credits: https://www.youtube.com/watch?v=aywzn9cf-_U */
#stars1 {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 120s linear infinite;

    box-shadow: 779px 1331px #ddd, 324px 42px #ddd, 303px 586px #ddd,
    1312px 276px #ddd, 451px 625px #ddd, 521px 1931px #ddd, 1087px 1871px #ddd,
    36px 1546px #ddd, 132px 934px #ddd, 1698px 901px #ddd, 1418px 664px #ddd,
    1448px 1157px #ddd, 1084px 232px #ddd, 347px 1776px #ddd, 1722px 243px #ddd,
    1629px 835px #ddd, 479px 969px #ddd, 1231px 960px #ddd, 586px 384px #ddd,
    164px 527px #ddd, 8px 646px #ddd, 1150px 1126px #ddd, 665px 1357px #ddd,
    1556px 1982px #ddd, 1260px 1961px #ddd, 1675px 1741px #ddd,
    1843px 1514px #ddd, 718px 1628px #ddd, 242px 1343px #ddd, 1497px 1880px #ddd,
    1364px 230px #ddd, 1739px 1302px #ddd, 636px 959px #ddd, 304px 686px #ddd,
    614px 751px #ddd, 1935px 816px #ddd, 1428px 60px #ddd, 355px 335px #ddd,
    1594px 158px #ddd, 90px 60px #ddd, 1553px 162px #ddd, 1239px 1825px #ddd,
    1945px 587px #ddd, 749px 1785px #ddd, 1987px 1172px #ddd, 1301px 1237px #ddd,
    1039px 342px #ddd, 1585px 1481px #ddd, 995px 1048px #ddd, 524px 932px #ddd,
    214px 413px #ddd, 1701px 1300px #ddd, 1037px 1613px #ddd, 1871px 996px #ddd,
    1360px 1635px #ddd, 1110px 1313px #ddd, 412px 1783px #ddd, 1949px 177px #ddd,
    903px 1854px #ddd, 700px 1936px #ddd, 378px 125px #ddd, 308px 834px #ddd,
    1118px 962px #ddd, 1350px 1929px #ddd, 781px 1811px #ddd, 561px 137px #ddd,
    757px 1148px #ddd, 1670px 1979px #ddd, 343px 739px #ddd, 945px 795px #ddd,
    576px 1903px #ddd, 1078px 1436px #ddd, 1583px 450px #ddd, 1366px 474px #ddd,
    297px 1873px #ddd, 192px 162px #ddd, 1624px 1633px #ddd, 59px 453px #ddd,
    82px 1872px #ddd, 1933px 498px #ddd, 1966px 1974px #ddd, 1975px 1688px #ddd,
    779px 314px #ddd, 1858px 1543px #ddd, 73px 1507px #ddd, 1693px 975px #ddd,
    1683px 108px #ddd, 1768px 1654px #ddd, 654px 14px #ddd, 494px 171px #ddd,
    1689px 1895px #ddd, 1660px 263px #ddd, 1031px 903px #ddd, 1203px 1393px #ddd,
    1333px 1421px #ddd, 1113px 41px #ddd, 1206px 1645px #ddd, 1325px 1635px #ddd,
    142px 388px #ddd, 572px 215px #ddd, 1535px 296px #ddd, 1419px 407px #ddd,
    1379px 1003px #ddd, 329px 469px #ddd, 1791px 1652px #ddd, 935px 1802px #ddd,
    1330px 1820px #ddd, 421px 1933px #ddd, 828px 365px #ddd, 275px 316px #ddd,
    707px 960px #ddd, 1605px 1554px #ddd, 625px 58px #ddd, 717px 1697px #ddd,
    1669px 246px #ddd, 1925px 322px #ddd, 1154px 1803px #ddd, 1929px 295px #ddd,
    1248px 240px #ddd, 1045px 1755px #ddd, 166px 942px #ddd, 1888px 1773px #ddd,
    678px 1963px #ddd, 1370px 569px #ddd, 1974px 1400px #ddd, 1786px 460px #ddd,
    51px 307px #ddd, 784px 1400px #ddd, 730px 1258px #ddd, 1712px 393px #ddd,
    416px 170px #ddd, 1797px 1932px #ddd, 572px 219px #ddd, 1557px 1856px #ddd,
    218px 8px #ddd, 348px 1334px #ddd, 469px 413px #ddd, 385px 1738px #ddd,
    1357px 1818px #ddd, 240px 942px #ddd, 248px 1847px #ddd, 1535px 806px #ddd,
    236px 1514px #ddd, 1429px 1556px #ddd, 73px 1633px #ddd, 1398px 1121px #ddd,
    671px 1301px #ddd, 1404px 1663px #ddd, 740px 1018px #ddd, 1600px 377px #ddd,
    785px 514px #ddd, 112px 1084px #ddd, 1915px 1887px #ddd, 1463px 1848px #ddd,
    687px 1115px #ddd, 1268px 1768px #ddd, 1729px 1425px #ddd,
    1284px 1022px #ddd, 801px 974px #ddd, 1975px 1317px #ddd, 1354px 834px #ddd,
    1446px 1484px #ddd, 1283px 1786px #ddd, 11px 523px #ddd, 1842px 236px #ddd,
    1355px 654px #ddd, 429px 7px #ddd, 1033px 1128px #ddd, 157px 297px #ddd,
    545px 635px #ddd, 52px 1080px #ddd, 827px 1520px #ddd, 1121px 490px #ddd,
    9px 309px #ddd, 1744px 1586px #ddd, 1014px 417px #ddd, 1534px 524px #ddd,
    958px 552px #ddd, 1403px 1496px #ddd, 387px 703px #ddd, 1522px 548px #ddd,
    1355px 282px #ddd, 1532px 601px #ddd, 1838px 790px #ddd, 290px 259px #ddd,
    295px 598px #ddd, 1601px 539px #ddd, 1561px 1272px #ddd, 34px 1922px #ddd,
    1024px 543px #ddd, 467px 369px #ddd, 722px 333px #ddd, 1976px 1255px #ddd,
    766px 983px #ddd, 1582px 1285px #ddd, 12px 512px #ddd, 617px 1410px #ddd,
    682px 577px #ddd, 1334px 1438px #ddd, 439px 327px #ddd, 1617px 1661px #ddd,
    673px 129px #ddd, 794px 941px #ddd, 1386px 1902px #ddd, 37px 1353px #ddd,
    1467px 1353px #ddd, 416px 18px #ddd, 187px 344px #ddd, 200px 1898px #ddd,
    1491px 1619px #ddd, 811px 347px #ddd, 924px 1827px #ddd, 945px 217px #ddd,
    1735px 1228px #ddd, 379px 1890px #ddd, 79px 761px #ddd, 825px 1837px #ddd,
    1980px 1558px #ddd, 1308px 1573px #ddd, 1488px 1726px #ddd,
    382px 1208px #ddd, 522px 595px #ddd, 1277px 1898px #ddd, 354px 552px #ddd,
    161px 1784px #ddd, 614px 251px #ddd, 526px 1576px #ddd, 17px 212px #ddd,
    179px 996px #ddd, 467px 1208px #ddd, 1944px 1838px #ddd, 1140px 1093px #ddd,
    858px 1007px #ddd, 200px 1064px #ddd, 423px 1964px #ddd, 1945px 439px #ddd,
    1377px 689px #ddd, 1120px 1437px #ddd, 1876px 668px #ddd, 907px 1324px #ddd,
    343px 1976px #ddd, 1816px 1501px #ddd, 1849px 177px #ddd, 647px 91px #ddd,
    1984px 1012px #ddd, 1336px 1300px #ddd, 128px 648px #ddd, 305px 1060px #ddd,
    1324px 826px #ddd, 1263px 1314px #ddd, 1801px 629px #ddd, 1614px 1555px #ddd,
    1634px 90px #ddd, 1603px 452px #ddd, 891px 1984px #ddd, 1556px 1906px #ddd,
    121px 68px #ddd, 1676px 1714px #ddd, 516px 936px #ddd, 1947px 1492px #ddd,
    1455px 1519px #ddd, 45px 602px #ddd, 205px 1039px #ddd, 793px 172px #ddd,
    1562px 1739px #ddd, 1056px 110px #ddd, 1512px 379px #ddd, 1795px 1621px #ddd,
    1848px 607px #ddd, 262px 1719px #ddd, 477px 991px #ddd, 483px 883px #ddd,
    1239px 1197px #ddd, 1496px 647px #ddd, 1649px 25px #ddd, 1491px 1946px #ddd,
    119px 996px #ddd, 179px 1472px #ddd, 1341px 808px #ddd, 1565px 1700px #ddd,
    407px 1544px #ddd, 1754px 357px #ddd, 1288px 981px #ddd, 902px 1997px #ddd,
    1755px 1668px #ddd, 186px 877px #ddd, 1202px 1882px #ddd, 461px 1213px #ddd,
    1400px 748px #ddd, 1969px 1899px #ddd, 809px 522px #ddd, 514px 1219px #ddd,
    374px 275px #ddd, 938px 1973px #ddd, 357px 552px #ddd, 144px 1722px #ddd,
    1572px 912px #ddd, 402px 1858px #ddd, 1544px 1195px #ddd, 667px 1257px #ddd,
    727px 1496px #ddd, 993px 232px #ddd, 1772px 313px #ddd, 1040px 1590px #ddd,
    1204px 1973px #ddd, 1268px 79px #ddd, 1555px 1048px #ddd, 986px 1707px #ddd,
    978px 1710px #ddd, 713px 360px #ddd, 407px 863px #ddd, 461px 736px #ddd,
    284px 1608px #ddd, 103px 430px #ddd, 1283px 1319px #ddd, 977px 1186px #ddd,
    1966px 1516px #ddd, 1287px 1129px #ddd, 70px 1098px #ddd, 1189px 889px #ddd,
    1126px 1734px #ddd, 309px 1292px #ddd, 879px 764px #ddd, 65px 473px #ddd,
    1003px 1959px #ddd, 658px 791px #ddd, 402px 1576px #ddd, 35px 622px #ddd,
    529px 1589px #ddd, 164px 666px #ddd, 1876px 1290px #ddd, 1541px 526px #ddd,
    270px 1297px #ddd, 440px 865px #ddd, 1500px 802px #ddd, 182px 1754px #ddd,
    1264px 892px #ddd, 272px 1249px #ddd, 1289px 1535px #ddd, 190px 1646px #ddd,
    955px 242px #ddd, 1456px 1597px #ddd, 1727px 1983px #ddd, 635px 801px #ddd,
    226px 455px #ddd, 1396px 1710px #ddd, 849px 1863px #ddd, 237px 1264px #ddd,
    839px 140px #ddd, 1122px 735px #ddd, 1280px 15px #ddd, 1318px 242px #ddd,
    1819px 1148px #ddd, 333px 1392px #ddd, 1949px 553px #ddd, 1878px 1332px #ddd,
    467px 548px #ddd, 1812px 1082px #ddd, 1067px 193px #ddd, 243px 156px #ddd,
    483px 1616px #ddd, 1714px 933px #ddd, 759px 1800px #ddd, 1822px 995px #ddd,
    1877px 572px #ddd, 581px 1084px #ddd, 107px 732px #ddd, 642px 1837px #ddd,
    166px 1493px #ddd, 1555px 198px #ddd, 819px 307px #ddd, 947px 345px #ddd,
    827px 224px #ddd, 927px 1394px #ddd, 540px 467px #ddd, 1093px 405px #ddd,
    1140px 927px #ddd, 130px 529px #ddd, 33px 1980px #ddd, 1147px 1663px #ddd,
    1616px 1436px #ddd, 528px 710px #ddd, 798px 1100px #ddd, 505px 1480px #ddd,
    899px 641px #ddd, 1909px 1949px #ddd, 1311px 964px #ddd, 979px 1301px #ddd,
    1393px 969px #ddd, 1793px 1886px #ddd, 292px 357px #ddd, 1196px 1718px #ddd,
    1290px 1994px #ddd, 537px 1973px #ddd, 1181px 1674px #ddd,
    1740px 1566px #ddd, 1307px 265px #ddd, 922px 522px #ddd, 1892px 472px #ddd,
    384px 1746px #ddd, 392px 1098px #ddd, 647px 548px #ddd, 390px 1498px #ddd,
    1246px 138px #ddd, 730px 876px #ddd, 192px 1472px #ddd, 1790px 1789px #ddd,
    928px 311px #ddd, 1253px 1647px #ddd, 747px 1921px #ddd, 1561px 1025px #ddd,
    1533px 1292px #ddd, 1985px 195px #ddd, 728px 729px #ddd, 1712px 1936px #ddd,
    512px 1717px #ddd, 1528px 483px #ddd, 313px 1642px #ddd, 281px 1849px #ddd,
    1212px 799px #ddd, 435px 1191px #ddd, 1422px 611px #ddd, 1718px 1964px #ddd,
    411px 944px #ddd, 210px 636px #ddd, 1502px 1295px #ddd, 1434px 349px #ddd,
    769px 60px #ddd, 747px 1053px #ddd, 789px 504px #ddd, 1436px 1264px #ddd,
    1893px 1225px #ddd, 1394px 1788px #ddd, 1108px 1317px #ddd,
    1673px 1395px #ddd, 854px 1010px #ddd, 1705px 80px #ddd, 1858px 148px #ddd,
    1729px 344px #ddd, 1388px 664px #ddd, 895px 406px #ddd, 1479px 157px #ddd,
    1441px 1157px #ddd, 552px 1900px #ddd, 516px 364px #ddd, 1647px 189px #ddd,
    1427px 1071px #ddd, 785px 729px #ddd, 1080px 1710px #ddd, 504px 204px #ddd,
    1177px 1622px #ddd, 657px 34px #ddd, 1296px 1099px #ddd, 248px 180px #ddd,
    1212px 1568px #ddd, 667px 1562px #ddd, 695px 841px #ddd, 1608px 1247px #ddd,
    751px 882px #ddd, 87px 167px #ddd, 607px 1368px #ddd, 1363px 1203px #ddd,
    1836px 317px #ddd, 1668px 1703px #ddd, 830px 1154px #ddd, 1721px 1398px #ddd,
    1601px 1280px #ddd, 976px 874px #ddd, 1743px 254px #ddd, 1020px 1815px #ddd,
    1670px 1766px #ddd, 1890px 735px #ddd, 1379px 136px #ddd, 1864px 695px #ddd,
    206px 965px #ddd, 1404px 1932px #ddd, 1923px 1360px #ddd, 247px 682px #ddd,
    519px 1708px #ddd, 645px 750px #ddd, 1164px 1204px #ddd, 834px 323px #ddd,
    172px 1350px #ddd, 213px 972px #ddd, 1837px 190px #ddd, 285px 1806px #ddd,
    1047px 1299px #ddd, 1548px 825px #ddd, 1730px 324px #ddd, 1346px 1909px #ddd,
    772px 270px #ddd, 345px 1190px #ddd, 478px 1433px #ddd, 1479px 25px #ddd,
    1994px 1830px #ddd, 1744px 732px #ddd, 20px 1635px #ddd, 690px 1795px #ddd,
    1594px 569px #ddd, 579px 245px #ddd, 1398px 733px #ddd, 408px 1352px #ddd,
    1774px 120px #ddd, 1152px 1370px #ddd, 1698px 1810px #ddd, 710px 1450px #ddd,
    665px 286px #ddd, 493px 1720px #ddd, 786px 5px #ddd, 637px 1140px #ddd,
    764px 324px #ddd, 927px 310px #ddd, 938px 1424px #ddd, 1884px 744px #ddd,
    913px 462px #ddd, 1831px 1936px #ddd, 1527px 249px #ddd, 36px 1381px #ddd,
    1597px 581px #ddd, 1530px 355px #ddd, 949px 459px #ddd, 799px 828px #ddd,
    242px 1471px #ddd, 654px 797px #ddd, 796px 594px #ddd, 1365px 678px #ddd,
    752px 23px #ddd, 1630px 541px #ddd, 982px 72px #ddd, 1733px 1831px #ddd,
    21px 412px #ddd, 775px 998px #ddd, 335px 1945px #ddd, 264px 583px #ddd,
    158px 1311px #ddd, 528px 164px #ddd, 1978px 574px #ddd, 717px 1203px #ddd,
    734px 1591px #ddd, 1555px 820px #ddd, 16px 1943px #ddd, 1625px 1177px #ddd,
    1236px 690px #ddd, 1585px 1590px #ddd, 1737px 1728px #ddd, 721px 698px #ddd,
    1804px 1186px #ddd, 166px 980px #ddd, 1850px 230px #ddd, 330px 1712px #ddd,
    95px 797px #ddd, 1948px 1078px #ddd, 469px 939px #ddd, 1269px 1899px #ddd,
    955px 1220px #ddd, 1137px 1075px #ddd, 312px 1293px #ddd, 986px 1762px #ddd,
    1103px 1238px #ddd, 428px 1993px #ddd, 355px 570px #ddd, 977px 1836px #ddd,
    1395px 1092px #ddd, 276px 913px #ddd, 1743px 656px #ddd, 773px 502px #ddd,
    1686px 1322px #ddd, 1516px 1945px #ddd, 1334px 501px #ddd, 266px 156px #ddd,
    455px 655px #ddd, 798px 72px #ddd, 1059px 1259px #ddd, 1402px 1687px #ddd,
    236px 1329px #ddd, 1455px 786px #ddd, 146px 1228px #ddd, 1851px 823px #ddd,
    1062px 100px #ddd, 1220px 953px #ddd, 20px 1826px #ddd, 36px 1063px #ddd,
    1525px 338px #ddd, 790px 1521px #ddd, 741px 1099px #ddd, 288px 1489px #ddd,
    700px 1060px #ddd, 390px 1071px #ddd, 411px 1036px #ddd, 1853px 1072px #ddd,
    1446px 1085px #ddd, 1164px 874px #ddd, 924px 925px #ddd, 291px 271px #ddd,
    1257px 1964px #ddd, 1580px 1352px #ddd, 1507px 1216px #ddd, 211px 956px #ddd,
    985px 1195px #ddd, 975px 1640px #ddd, 518px 101px #ddd, 663px 1395px #ddd,
    914px 532px #ddd, 145px 1320px #ddd, 69px 1397px #ddd, 982px 523px #ddd,
    257px 725px #ddd, 1599px 831px #ddd, 1636px 1513px #ddd, 1250px 1158px #ddd,
    1132px 604px #ddd, 183px 102px #ddd, 1057px 318px #ddd, 1247px 1835px #ddd,
    1983px 1110px #ddd, 1077px 1455px #ddd, 921px 1770px #ddd, 806px 1350px #ddd,
    1938px 1992px #ddd, 855px 1260px #ddd, 902px 1345px #ddd, 658px 1908px #ddd,
    1845px 679px #ddd, 712px 1482px #ddd, 595px 950px #ddd, 1784px 1992px #ddd,
    1847px 1785px #ddd, 691px 1004px #ddd, 175px 1179px #ddd, 1666px 1911px #ddd,
    41px 61px #ddd, 971px 1080px #ddd, 1830px 1450px #ddd, 1351px 1518px #ddd,
    1257px 99px #ddd, 1395px 1498px #ddd, 1117px 252px #ddd, 1779px 597px #ddd,
    1346px 729px #ddd, 1108px 1144px #ddd, 402px 691px #ddd, 72px 496px #ddd,
    1673px 1604px #ddd, 1497px 974px #ddd, 1865px 1664px #ddd, 88px 806px #ddd,
    918px 77px #ddd, 244px 1118px #ddd, 256px 1820px #ddd, 1851px 1840px #ddd,
    605px 1851px #ddd, 634px 383px #ddd, 865px 37px #ddd, 943px 1024px #ddd,
    1951px 177px #ddd, 1097px 523px #ddd, 985px 1700px #ddd, 1243px 122px #ddd,
    768px 1070px #ddd, 468px 194px #ddd, 320px 1867px #ddd, 1850px 185px #ddd,
    380px 1616px #ddd, 468px 1294px #ddd, 1122px 1743px #ddd, 884px 299px #ddd,
    1300px 1917px #ddd, 1860px 396px #ddd, 1270px 990px #ddd, 529px 733px #ddd,
    1975px 1347px #ddd, 1885px 685px #ddd, 226px 506px #ddd, 651px 878px #ddd,
    1323px 680px #ddd, 1284px 680px #ddd, 238px 1967px #ddd, 911px 174px #ddd,
    1111px 521px #ddd, 1150px 85px #ddd, 794px 502px #ddd, 484px 1856px #ddd,
    1809px 368px #ddd, 112px 953px #ddd, 590px 1009px #ddd, 1655px 311px #ddd,
    100px 1026px #ddd, 1803px 352px #ddd, 865px 306px #ddd, 1077px 1019px #ddd,
    1335px 872px #ddd, 1647px 1298px #ddd, 1233px 1387px #ddd, 698px 1036px #ddd,
    659px 1860px #ddd, 388px 1412px #ddd, 1212px 458px #ddd, 755px 1468px #ddd,
    696px 1654px #ddd, 1144px 60px #ddd;
}

#stars1:after {
    content: '';
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    background: transparent;

    box-shadow: 779px 1331px #ddd, 324px 42px #ddd, 303px 586px #ddd,
    1312px 276px #ddd, 451px 625px #ddd, 521px 1931px #ddd, 1087px 1871px #ddd,
    36px 1546px #ddd, 132px 934px #ddd, 1698px 901px #ddd, 1418px 664px #ddd,
    1448px 1157px #ddd, 1084px 232px #ddd, 347px 1776px #ddd, 1722px 243px #ddd,
    1629px 835px #ddd, 479px 969px #ddd, 1231px 960px #ddd, 586px 384px #ddd,
    164px 527px #ddd, 8px 646px #ddd, 1150px 1126px #ddd, 665px 1357px #ddd,
    1556px 1982px #ddd, 1260px 1961px #ddd, 1675px 1741px #ddd,
    1843px 1514px #ddd, 718px 1628px #ddd, 242px 1343px #ddd, 1497px 1880px #ddd,
    1364px 230px #ddd, 1739px 1302px #ddd, 636px 959px #ddd, 304px 686px #ddd,
    614px 751px #ddd, 1935px 816px #ddd, 1428px 60px #ddd, 355px 335px #ddd,
    1594px 158px #ddd, 90px 60px #ddd, 1553px 162px #ddd, 1239px 1825px #ddd,
    1945px 587px #ddd, 749px 1785px #ddd, 1987px 1172px #ddd, 1301px 1237px #ddd,
    1039px 342px #ddd, 1585px 1481px #ddd, 995px 1048px #ddd, 524px 932px #ddd,
    214px 413px #ddd, 1701px 1300px #ddd, 1037px 1613px #ddd, 1871px 996px #ddd,
    1360px 1635px #ddd, 1110px 1313px #ddd, 412px 1783px #ddd, 1949px 177px #ddd,
    903px 1854px #ddd, 700px 1936px #ddd, 378px 125px #ddd, 308px 834px #ddd,
    1118px 962px #ddd, 1350px 1929px #ddd, 781px 1811px #ddd, 561px 137px #ddd,
    757px 1148px #ddd, 1670px 1979px #ddd, 343px 739px #ddd, 945px 795px #ddd,
    576px 1903px #ddd, 1078px 1436px #ddd, 1583px 450px #ddd, 1366px 474px #ddd,
    297px 1873px #ddd, 192px 162px #ddd, 1624px 1633px #ddd, 59px 453px #ddd,
    82px 1872px #ddd, 1933px 498px #ddd, 1966px 1974px #ddd, 1975px 1688px #ddd,
    779px 314px #ddd, 1858px 1543px #ddd, 73px 1507px #ddd, 1693px 975px #ddd,
    1683px 108px #ddd, 1768px 1654px #ddd, 654px 14px #ddd, 494px 171px #ddd,
    1689px 1895px #ddd, 1660px 263px #ddd, 1031px 903px #ddd, 1203px 1393px #ddd,
    1333px 1421px #ddd, 1113px 41px #ddd, 1206px 1645px #ddd, 1325px 1635px #ddd,
    142px 388px #ddd, 572px 215px #ddd, 1535px 296px #ddd, 1419px 407px #ddd,
    1379px 1003px #ddd, 329px 469px #ddd, 1791px 1652px #ddd, 935px 1802px #ddd,
    1330px 1820px #ddd, 421px 1933px #ddd, 828px 365px #ddd, 275px 316px #ddd,
    707px 960px #ddd, 1605px 1554px #ddd, 625px 58px #ddd, 717px 1697px #ddd,
    1669px 246px #ddd, 1925px 322px #ddd, 1154px 1803px #ddd, 1929px 295px #ddd,
    1248px 240px #ddd, 1045px 1755px #ddd, 166px 942px #ddd, 1888px 1773px #ddd,
    678px 1963px #ddd, 1370px 569px #ddd, 1974px 1400px #ddd, 1786px 460px #ddd,
    51px 307px #ddd, 784px 1400px #ddd, 730px 1258px #ddd, 1712px 393px #ddd,
    416px 170px #ddd, 1797px 1932px #ddd, 572px 219px #ddd, 1557px 1856px #ddd,
    218px 8px #ddd, 348px 1334px #ddd, 469px 413px #ddd, 385px 1738px #ddd,
    1357px 1818px #ddd, 240px 942px #ddd, 248px 1847px #ddd, 1535px 806px #ddd,
    236px 1514px #ddd, 1429px 1556px #ddd, 73px 1633px #ddd, 1398px 1121px #ddd,
    671px 1301px #ddd, 1404px 1663px #ddd, 740px 1018px #ddd, 1600px 377px #ddd,
    785px 514px #ddd, 112px 1084px #ddd, 1915px 1887px #ddd, 1463px 1848px #ddd,
    687px 1115px #ddd, 1268px 1768px #ddd, 1729px 1425px #ddd,
    1284px 1022px #ddd, 801px 974px #ddd, 1975px 1317px #ddd, 1354px 834px #ddd,
    1446px 1484px #ddd, 1283px 1786px #ddd, 11px 523px #ddd, 1842px 236px #ddd,
    1355px 654px #ddd, 429px 7px #ddd, 1033px 1128px #ddd, 157px 297px #ddd,
    545px 635px #ddd, 52px 1080px #ddd, 827px 1520px #ddd, 1121px 490px #ddd,
    9px 309px #ddd, 1744px 1586px #ddd, 1014px 417px #ddd, 1534px 524px #ddd,
    958px 552px #ddd, 1403px 1496px #ddd, 387px 703px #ddd, 1522px 548px #ddd,
    1355px 282px #ddd, 1532px 601px #ddd, 1838px 790px #ddd, 290px 259px #ddd,
    295px 598px #ddd, 1601px 539px #ddd, 1561px 1272px #ddd, 34px 1922px #ddd,
    1024px 543px #ddd, 467px 369px #ddd, 722px 333px #ddd, 1976px 1255px #ddd,
    766px 983px #ddd, 1582px 1285px #ddd, 12px 512px #ddd, 617px 1410px #ddd,
    682px 577px #ddd, 1334px 1438px #ddd, 439px 327px #ddd, 1617px 1661px #ddd,
    673px 129px #ddd, 794px 941px #ddd, 1386px 1902px #ddd, 37px 1353px #ddd,
    1467px 1353px #ddd, 416px 18px #ddd, 187px 344px #ddd, 200px 1898px #ddd,
    1491px 1619px #ddd, 811px 347px #ddd, 924px 1827px #ddd, 945px 217px #ddd,
    1735px 1228px #ddd, 379px 1890px #ddd, 79px 761px #ddd, 825px 1837px #ddd,
    1980px 1558px #ddd, 1308px 1573px #ddd, 1488px 1726px #ddd,
    382px 1208px #ddd, 522px 595px #ddd, 1277px 1898px #ddd, 354px 552px #ddd,
    161px 1784px #ddd, 614px 251px #ddd, 526px 1576px #ddd, 17px 212px #ddd,
    179px 996px #ddd, 467px 1208px #ddd, 1944px 1838px #ddd, 1140px 1093px #ddd,
    858px 1007px #ddd, 200px 1064px #ddd, 423px 1964px #ddd, 1945px 439px #ddd,
    1377px 689px #ddd, 1120px 1437px #ddd, 1876px 668px #ddd, 907px 1324px #ddd,
    343px 1976px #ddd, 1816px 1501px #ddd, 1849px 177px #ddd, 647px 91px #ddd,
    1984px 1012px #ddd, 1336px 1300px #ddd, 128px 648px #ddd, 305px 1060px #ddd,
    1324px 826px #ddd, 1263px 1314px #ddd, 1801px 629px #ddd, 1614px 1555px #ddd,
    1634px 90px #ddd, 1603px 452px #ddd, 891px 1984px #ddd, 1556px 1906px #ddd,
    121px 68px #ddd, 1676px 1714px #ddd, 516px 936px #ddd, 1947px 1492px #ddd,
    1455px 1519px #ddd, 45px 602px #ddd, 205px 1039px #ddd, 793px 172px #ddd,
    1562px 1739px #ddd, 1056px 110px #ddd, 1512px 379px #ddd, 1795px 1621px #ddd,
    1848px 607px #ddd, 262px 1719px #ddd, 477px 991px #ddd, 483px 883px #ddd,
    1239px 1197px #ddd, 1496px 647px #ddd, 1649px 25px #ddd, 1491px 1946px #ddd,
    119px 996px #ddd, 179px 1472px #ddd, 1341px 808px #ddd, 1565px 1700px #ddd,
    407px 1544px #ddd, 1754px 357px #ddd, 1288px 981px #ddd, 902px 1997px #ddd,
    1755px 1668px #ddd, 186px 877px #ddd, 1202px 1882px #ddd, 461px 1213px #ddd,
    1400px 748px #ddd, 1969px 1899px #ddd, 809px 522px #ddd, 514px 1219px #ddd,
    374px 275px #ddd, 938px 1973px #ddd, 357px 552px #ddd, 144px 1722px #ddd,
    1572px 912px #ddd, 402px 1858px #ddd, 1544px 1195px #ddd, 667px 1257px #ddd,
    727px 1496px #ddd, 993px 232px #ddd, 1772px 313px #ddd, 1040px 1590px #ddd,
    1204px 1973px #ddd, 1268px 79px #ddd, 1555px 1048px #ddd, 986px 1707px #ddd,
    978px 1710px #ddd, 713px 360px #ddd, 407px 863px #ddd, 461px 736px #ddd,
    284px 1608px #ddd, 103px 430px #ddd, 1283px 1319px #ddd, 977px 1186px #ddd,
    1966px 1516px #ddd, 1287px 1129px #ddd, 70px 1098px #ddd, 1189px 889px #ddd,
    1126px 1734px #ddd, 309px 1292px #ddd, 879px 764px #ddd, 65px 473px #ddd,
    1003px 1959px #ddd, 658px 791px #ddd, 402px 1576px #ddd, 35px 622px #ddd,
    529px 1589px #ddd, 164px 666px #ddd, 1876px 1290px #ddd, 1541px 526px #ddd,
    270px 1297px #ddd, 440px 865px #ddd, 1500px 802px #ddd, 182px 1754px #ddd,
    1264px 892px #ddd, 272px 1249px #ddd, 1289px 1535px #ddd, 190px 1646px #ddd,
    955px 242px #ddd, 1456px 1597px #ddd, 1727px 1983px #ddd, 635px 801px #ddd,
    226px 455px #ddd, 1396px 1710px #ddd, 849px 1863px #ddd, 237px 1264px #ddd,
    839px 140px #ddd, 1122px 735px #ddd, 1280px 15px #ddd, 1318px 242px #ddd,
    1819px 1148px #ddd, 333px 1392px #ddd, 1949px 553px #ddd, 1878px 1332px #ddd,
    467px 548px #ddd, 1812px 1082px #ddd, 1067px 193px #ddd, 243px 156px #ddd,
    483px 1616px #ddd, 1714px 933px #ddd, 759px 1800px #ddd, 1822px 995px #ddd,
    1877px 572px #ddd, 581px 1084px #ddd, 107px 732px #ddd, 642px 1837px #ddd,
    166px 1493px #ddd, 1555px 198px #ddd, 819px 307px #ddd, 947px 345px #ddd,
    827px 224px #ddd, 927px 1394px #ddd, 540px 467px #ddd, 1093px 405px #ddd,
    1140px 927px #ddd, 130px 529px #ddd, 33px 1980px #ddd, 1147px 1663px #ddd,
    1616px 1436px #ddd, 528px 710px #ddd, 798px 1100px #ddd, 505px 1480px #ddd,
    899px 641px #ddd, 1909px 1949px #ddd, 1311px 964px #ddd, 979px 1301px #ddd,
    1393px 969px #ddd, 1793px 1886px #ddd, 292px 357px #ddd, 1196px 1718px #ddd,
    1290px 1994px #ddd, 537px 1973px #ddd, 1181px 1674px #ddd,
    1740px 1566px #ddd, 1307px 265px #ddd, 922px 522px #ddd, 1892px 472px #ddd,
    384px 1746px #ddd, 392px 1098px #ddd, 647px 548px #ddd, 390px 1498px #ddd,
    1246px 138px #ddd, 730px 876px #ddd, 192px 1472px #ddd, 1790px 1789px #ddd,
    928px 311px #ddd, 1253px 1647px #ddd, 747px 1921px #ddd, 1561px 1025px #ddd,
    1533px 1292px #ddd, 1985px 195px #ddd, 728px 729px #ddd, 1712px 1936px #ddd,
    512px 1717px #ddd, 1528px 483px #ddd, 313px 1642px #ddd, 281px 1849px #ddd,
    1212px 799px #ddd, 435px 1191px #ddd, 1422px 611px #ddd, 1718px 1964px #ddd,
    411px 944px #ddd, 210px 636px #ddd, 1502px 1295px #ddd, 1434px 349px #ddd,
    769px 60px #ddd, 747px 1053px #ddd, 789px 504px #ddd, 1436px 1264px #ddd,
    1893px 1225px #ddd, 1394px 1788px #ddd, 1108px 1317px #ddd,
    1673px 1395px #ddd, 854px 1010px #ddd, 1705px 80px #ddd, 1858px 148px #ddd,
    1729px 344px #ddd, 1388px 664px #ddd, 895px 406px #ddd, 1479px 157px #ddd,
    1441px 1157px #ddd, 552px 1900px #ddd, 516px 364px #ddd, 1647px 189px #ddd,
    1427px 1071px #ddd, 785px 729px #ddd, 1080px 1710px #ddd, 504px 204px #ddd,
    1177px 1622px #ddd, 657px 34px #ddd, 1296px 1099px #ddd, 248px 180px #ddd,
    1212px 1568px #ddd, 667px 1562px #ddd, 695px 841px #ddd, 1608px 1247px #ddd,
    751px 882px #ddd, 87px 167px #ddd, 607px 1368px #ddd, 1363px 1203px #ddd,
    1836px 317px #ddd, 1668px 1703px #ddd, 830px 1154px #ddd, 1721px 1398px #ddd,
    1601px 1280px #ddd, 976px 874px #ddd, 1743px 254px #ddd, 1020px 1815px #ddd,
    1670px 1766px #ddd, 1890px 735px #ddd, 1379px 136px #ddd, 1864px 695px #ddd,
    206px 965px #ddd, 1404px 1932px #ddd, 1923px 1360px #ddd, 247px 682px #ddd,
    519px 1708px #ddd, 645px 750px #ddd, 1164px 1204px #ddd, 834px 323px #ddd,
    172px 1350px #ddd, 213px 972px #ddd, 1837px 190px #ddd, 285px 1806px #ddd,
    1047px 1299px #ddd, 1548px 825px #ddd, 1730px 324px #ddd, 1346px 1909px #ddd,
    772px 270px #ddd, 345px 1190px #ddd, 478px 1433px #ddd, 1479px 25px #ddd,
    1994px 1830px #ddd, 1744px 732px #ddd, 20px 1635px #ddd, 690px 1795px #ddd,
    1594px 569px #ddd, 579px 245px #ddd, 1398px 733px #ddd, 408px 1352px #ddd,
    1774px 120px #ddd, 1152px 1370px #ddd, 1698px 1810px #ddd, 710px 1450px #ddd,
    665px 286px #ddd, 493px 1720px #ddd, 786px 5px #ddd, 637px 1140px #ddd,
    764px 324px #ddd, 927px 310px #ddd, 938px 1424px #ddd, 1884px 744px #ddd,
    913px 462px #ddd, 1831px 1936px #ddd, 1527px 249px #ddd, 36px 1381px #ddd,
    1597px 581px #ddd, 1530px 355px #ddd, 949px 459px #ddd, 799px 828px #ddd,
    242px 1471px #ddd, 654px 797px #ddd, 796px 594px #ddd, 1365px 678px #ddd,
    752px 23px #ddd, 1630px 541px #ddd, 982px 72px #ddd, 1733px 1831px #ddd,
    21px 412px #ddd, 775px 998px #ddd, 335px 1945px #ddd, 264px 583px #ddd,
    158px 1311px #ddd, 528px 164px #ddd, 1978px 574px #ddd, 717px 1203px #ddd,
    734px 1591px #ddd, 1555px 820px #ddd, 16px 1943px #ddd, 1625px 1177px #ddd,
    1236px 690px #ddd, 1585px 1590px #ddd, 1737px 1728px #ddd, 721px 698px #ddd,
    1804px 1186px #ddd, 166px 980px #ddd, 1850px 230px #ddd, 330px 1712px #ddd,
    95px 797px #ddd, 1948px 1078px #ddd, 469px 939px #ddd, 1269px 1899px #ddd,
    955px 1220px #ddd, 1137px 1075px #ddd, 312px 1293px #ddd, 986px 1762px #ddd,
    1103px 1238px #ddd, 428px 1993px #ddd, 355px 570px #ddd, 977px 1836px #ddd,
    1395px 1092px #ddd, 276px 913px #ddd, 1743px 656px #ddd, 773px 502px #ddd,
    1686px 1322px #ddd, 1516px 1945px #ddd, 1334px 501px #ddd, 266px 156px #ddd,
    455px 655px #ddd, 798px 72px #ddd, 1059px 1259px #ddd, 1402px 1687px #ddd,
    236px 1329px #ddd, 1455px 786px #ddd, 146px 1228px #ddd, 1851px 823px #ddd,
    1062px 100px #ddd, 1220px 953px #ddd, 20px 1826px #ddd, 36px 1063px #ddd,
    1525px 338px #ddd, 790px 1521px #ddd, 741px 1099px #ddd, 288px 1489px #ddd,
    700px 1060px #ddd, 390px 1071px #ddd, 411px 1036px #ddd, 1853px 1072px #ddd,
    1446px 1085px #ddd, 1164px 874px #ddd, 924px 925px #ddd, 291px 271px #ddd,
    1257px 1964px #ddd, 1580px 1352px #ddd, 1507px 1216px #ddd, 211px 956px #ddd,
    985px 1195px #ddd, 975px 1640px #ddd, 518px 101px #ddd, 663px 1395px #ddd,
    914px 532px #ddd, 145px 1320px #ddd, 69px 1397px #ddd, 982px 523px #ddd,
    257px 725px #ddd, 1599px 831px #ddd, 1636px 1513px #ddd, 1250px 1158px #ddd,
    1132px 604px #ddd, 183px 102px #ddd, 1057px 318px #ddd, 1247px 1835px #ddd,
    1983px 1110px #ddd, 1077px 1455px #ddd, 921px 1770px #ddd, 806px 1350px #ddd,
    1938px 1992px #ddd, 855px 1260px #ddd, 902px 1345px #ddd, 658px 1908px #ddd,
    1845px 679px #ddd, 712px 1482px #ddd, 595px 950px #ddd, 1784px 1992px #ddd,
    1847px 1785px #ddd, 691px 1004px #ddd, 175px 1179px #ddd, 1666px 1911px #ddd,
    41px 61px #ddd, 971px 1080px #ddd, 1830px 1450px #ddd, 1351px 1518px #ddd,
    1257px 99px #ddd, 1395px 1498px #ddd, 1117px 252px #ddd, 1779px 597px #ddd,
    1346px 729px #ddd, 1108px 1144px #ddd, 402px 691px #ddd, 72px 496px #ddd,
    1673px 1604px #ddd, 1497px 974px #ddd, 1865px 1664px #ddd, 88px 806px #ddd,
    918px 77px #ddd, 244px 1118px #ddd, 256px 1820px #ddd, 1851px 1840px #ddd,
    605px 1851px #ddd, 634px 383px #ddd, 865px 37px #ddd, 943px 1024px #ddd,
    1951px 177px #ddd, 1097px 523px #ddd, 985px 1700px #ddd, 1243px 122px #ddd,
    768px 1070px #ddd, 468px 194px #ddd, 320px 1867px #ddd, 1850px 185px #ddd,
    380px 1616px #ddd, 468px 1294px #ddd, 1122px 1743px #ddd, 884px 299px #ddd,
    1300px 1917px #ddd, 1860px 396px #ddd, 1270px 990px #ddd, 529px 733px #ddd,
    1975px 1347px #ddd, 1885px 685px #ddd, 226px 506px #ddd, 651px 878px #ddd,
    1323px 680px #ddd, 1284px 680px #ddd, 238px 1967px #ddd, 911px 174px #ddd,
    1111px 521px #ddd, 1150px 85px #ddd, 794px 502px #ddd, 484px 1856px #ddd,
    1809px 368px #ddd, 112px 953px #ddd, 590px 1009px #ddd, 1655px 311px #ddd,
    100px 1026px #ddd, 1803px 352px #ddd, 865px 306px #ddd, 1077px 1019px #ddd,
    1335px 872px #ddd, 1647px 1298px #ddd, 1233px 1387px #ddd, 698px 1036px #ddd,
    659px 1860px #ddd, 388px 1412px #ddd, 1212px 458px #ddd, 755px 1468px #ddd,
    696px 1654px #ddd, 1144px 60px #ddd;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 180s linear infinite;

    box-shadow: 1448px 320px #ddd, 1775px 1663px #ddd, 332px 1364px #ddd,
    878px 340px #ddd, 569px 1832px #ddd, 1422px 1684px #ddd, 1946px 1907px #ddd,
    121px 979px #ddd, 1044px 1069px #ddd, 463px 381px #ddd, 423px 112px #ddd,
    523px 1179px #ddd, 779px 654px #ddd, 1398px 694px #ddd, 1085px 1464px #ddd,
    1599px 1869px #ddd, 801px 1882px #ddd, 779px 1231px #ddd, 552px 932px #ddd,
    1057px 1196px #ddd, 282px 1280px #ddd, 496px 1986px #ddd, 1833px 1120px #ddd,
    1802px 1293px #ddd, 6px 1696px #ddd, 412px 1902px #ddd, 605px 438px #ddd,
    24px 1212px #ddd, 234px 1320px #ddd, 544px 344px #ddd, 1107px 170px #ddd,
    1603px 196px #ddd, 905px 648px #ddd, 68px 1458px #ddd, 649px 1969px #ddd,
    744px 675px #ddd, 1127px 478px #ddd, 714px 1814px #ddd, 1486px 526px #ddd,
    270px 1636px #ddd, 1931px 149px #ddd, 1807px 378px #ddd, 8px 390px #ddd,
    1415px 699px #ddd, 1473px 1211px #ddd, 1590px 141px #ddd, 270px 1705px #ddd,
    69px 1423px #ddd, 1108px 1053px #ddd, 1946px 128px #ddd, 371px 371px #ddd,
    1490px 220px #ddd, 357px 1885px #ddd, 363px 363px #ddd, 1896px 1256px #ddd,
    1979px 1050px #ddd, 947px 1342px #ddd, 1754px 242px #ddd, 514px 974px #ddd,
    65px 1477px #ddd, 1840px 547px #ddd, 950px 695px #ddd, 459px 1150px #ddd,
    1124px 1502px #ddd, 481px 940px #ddd, 680px 839px #ddd, 797px 1169px #ddd,
    1977px 1491px #ddd, 734px 1724px #ddd, 210px 298px #ddd, 816px 628px #ddd,
    686px 770px #ddd, 1721px 267px #ddd, 1663px 511px #ddd, 1481px 1141px #ddd,
    582px 248px #ddd, 1308px 953px #ddd, 628px 657px #ddd, 897px 1535px #ddd,
    270px 931px #ddd, 791px 467px #ddd, 1336px 1732px #ddd, 1013px 1653px #ddd,
    1911px 956px #ddd, 587px 816px #ddd, 83px 456px #ddd, 930px 1478px #ddd,
    1587px 1694px #ddd, 614px 1200px #ddd, 302px 1782px #ddd, 1711px 1432px #ddd,
    443px 904px #ddd, 1666px 714px #ddd, 1588px 1167px #ddd, 273px 1075px #ddd,
    1679px 461px #ddd, 721px 664px #ddd, 1202px 10px #ddd, 166px 1126px #ddd,
    331px 1628px #ddd, 430px 1565px #ddd, 1585px 509px #ddd, 640px 38px #ddd,
    822px 837px #ddd, 1760px 1664px #ddd, 1122px 1458px #ddd, 398px 131px #ddd,
    689px 285px #ddd, 460px 652px #ddd, 1627px 365px #ddd, 348px 1648px #ddd,
    819px 1946px #ddd, 981px 1917px #ddd, 323px 76px #ddd, 979px 684px #ddd,
    887px 536px #ddd, 1348px 1596px #ddd, 1055px 666px #ddd, 1402px 1797px #ddd,
    1300px 1055px #ddd, 937px 238px #ddd, 1474px 1815px #ddd, 1144px 1710px #ddd,
    1629px 1087px #ddd, 911px 919px #ddd, 771px 819px #ddd, 403px 720px #ddd,
    163px 736px #ddd, 1062px 238px #ddd, 1774px 818px #ddd, 1874px 1178px #ddd,
    1177px 699px #ddd, 1244px 1244px #ddd, 1371px 58px #ddd, 564px 1515px #ddd,
    1824px 487px #ddd, 929px 702px #ddd, 394px 1348px #ddd, 1161px 641px #ddd,
    219px 1841px #ddd, 358px 941px #ddd, 140px 1759px #ddd, 1019px 1345px #ddd,
    274px 436px #ddd, 1433px 1605px #ddd, 1798px 1426px #ddd, 294px 1848px #ddd,
    1681px 1877px #ddd, 1344px 1824px #ddd, 1439px 1632px #ddd,
    161px 1012px #ddd, 1308px 588px #ddd, 1789px 582px #ddd, 721px 1910px #ddd,
    318px 218px #ddd, 607px 319px #ddd, 495px 535px #ddd, 1552px 1575px #ddd,
    1562px 67px #ddd, 403px 926px #ddd, 1096px 1800px #ddd, 1814px 1709px #ddd,
    1882px 1831px #ddd, 533px 46px #ddd, 823px 969px #ddd, 530px 165px #ddd,
    1030px 352px #ddd, 1681px 313px #ddd, 338px 115px #ddd, 1607px 211px #ddd,
    1718px 1184px #ddd, 1589px 659px #ddd, 278px 355px #ddd, 464px 1464px #ddd,
    1165px 277px #ddd, 950px 694px #ddd, 1746px 293px #ddd, 793px 911px #ddd,
    528px 773px #ddd, 1883px 1694px #ddd, 748px 182px #ddd, 1924px 1531px #ddd,
    100px 636px #ddd, 1473px 1445px #ddd, 1264px 1244px #ddd, 850px 1377px #ddd,
    987px 1976px #ddd, 933px 1761px #ddd, 922px 1270px #ddd, 500px 396px #ddd,
    1324px 8px #ddd, 1967px 1814px #ddd, 1072px 1401px #ddd, 961px 37px #ddd,
    156px 81px #ddd, 1915px 502px #ddd, 1076px 1846px #ddd, 152px 1669px #ddd,
    986px 1529px #ddd, 1667px 1137px #ddd;
}

#stars2:after {
    content: '';
    position: absolute;
    top: auto;
    width: 2px;
    height: 2px;
    background: transparent;

    box-shadow: 1448px 320px #ddd, 1775px 1663px #ddd, 332px 1364px #ddd,
    878px 340px #ddd, 569px 1832px #ddd, 1422px 1684px #ddd, 1946px 1907px #ddd,
    121px 979px #ddd, 1044px 1069px #ddd, 463px 381px #ddd, 423px 112px #ddd,
    523px 1179px #ddd, 779px 654px #ddd, 1398px 694px #ddd, 1085px 1464px #ddd,
    1599px 1869px #ddd, 801px 1882px #ddd, 779px 1231px #ddd, 552px 932px #ddd,
    1057px 1196px #ddd, 282px 1280px #ddd, 496px 1986px #ddd, 1833px 1120px #ddd,
    1802px 1293px #ddd, 6px 1696px #ddd, 412px 1902px #ddd, 605px 438px #ddd,
    24px 1212px #ddd, 234px 1320px #ddd, 544px 344px #ddd, 1107px 170px #ddd,
    1603px 196px #ddd, 905px 648px #ddd, 68px 1458px #ddd, 649px 1969px #ddd,
    744px 675px #ddd, 1127px 478px #ddd, 714px 1814px #ddd, 1486px 526px #ddd,
    270px 1636px #ddd, 1931px 149px #ddd, 1807px 378px #ddd, 8px 390px #ddd,
    1415px 699px #ddd, 1473px 1211px #ddd, 1590px 141px #ddd, 270px 1705px #ddd,
    69px 1423px #ddd, 1108px 1053px #ddd, 1946px 128px #ddd, 371px 371px #ddd,
    1490px 220px #ddd, 357px 1885px #ddd, 363px 363px #ddd, 1896px 1256px #ddd,
    1979px 1050px #ddd, 947px 1342px #ddd, 1754px 242px #ddd, 514px 974px #ddd,
    65px 1477px #ddd, 1840px 547px #ddd, 950px 695px #ddd, 459px 1150px #ddd,
    1124px 1502px #ddd, 481px 940px #ddd, 680px 839px #ddd, 797px 1169px #ddd,
    1977px 1491px #ddd, 734px 1724px #ddd, 210px 298px #ddd, 816px 628px #ddd,
    686px 770px #ddd, 1721px 267px #ddd, 1663px 511px #ddd, 1481px 1141px #ddd,
    582px 248px #ddd, 1308px 953px #ddd, 628px 657px #ddd, 897px 1535px #ddd,
    270px 931px #ddd, 791px 467px #ddd, 1336px 1732px #ddd, 1013px 1653px #ddd,
    1911px 956px #ddd, 587px 816px #ddd, 83px 456px #ddd, 930px 1478px #ddd,
    1587px 1694px #ddd, 614px 1200px #ddd, 302px 1782px #ddd, 1711px 1432px #ddd,
    443px 904px #ddd, 1666px 714px #ddd, 1588px 1167px #ddd, 273px 1075px #ddd,
    1679px 461px #ddd, 721px 664px #ddd, 1202px 10px #ddd, 166px 1126px #ddd,
    331px 1628px #ddd, 430px 1565px #ddd, 1585px 509px #ddd, 640px 38px #ddd,
    822px 837px #ddd, 1760px 1664px #ddd, 1122px 1458px #ddd, 398px 131px #ddd,
    689px 285px #ddd, 460px 652px #ddd, 1627px 365px #ddd, 348px 1648px #ddd,
    819px 1946px #ddd, 981px 1917px #ddd, 323px 76px #ddd, 979px 684px #ddd,
    887px 536px #ddd, 1348px 1596px #ddd, 1055px 666px #ddd, 1402px 1797px #ddd,
    1300px 1055px #ddd, 937px 238px #ddd, 1474px 1815px #ddd, 1144px 1710px #ddd,
    1629px 1087px #ddd, 911px 919px #ddd, 771px 819px #ddd, 403px 720px #ddd,
    163px 736px #ddd, 1062px 238px #ddd, 1774px 818px #ddd, 1874px 1178px #ddd,
    1177px 699px #ddd, 1244px 1244px #ddd, 1371px 58px #ddd, 564px 1515px #ddd,
    1824px 487px #ddd, 929px 702px #ddd, 394px 1348px #ddd, 1161px 641px #ddd,
    219px 1841px #ddd, 358px 941px #ddd, 140px 1759px #ddd, 1019px 1345px #ddd,
    274px 436px #ddd, 1433px 1605px #ddd, 1798px 1426px #ddd, 294px 1848px #ddd,
    1681px 1877px #ddd, 1344px 1824px #ddd, 1439px 1632px #ddd,
    161px 1012px #ddd, 1308px 588px #ddd, 1789px 582px #ddd, 721px 1910px #ddd,
    318px 218px #ddd, 607px 319px #ddd, 495px 535px #ddd, 1552px 1575px #ddd,
    1562px 67px #ddd, 403px 926px #ddd, 1096px 1800px #ddd, 1814px 1709px #ddd,
    1882px 1831px #ddd, 533px 46px #ddd, 823px 969px #ddd, 530px 165px #ddd,
    1030px 352px #ddd, 1681px 313px #ddd, 338px 115px #ddd, 1607px 211px #ddd,
    1718px 1184px #ddd, 1589px 659px #ddd, 278px 355px #ddd, 464px 1464px #ddd,
    1165px 277px #ddd, 950px 694px #ddd, 1746px 293px #ddd, 793px 911px #ddd,
    528px 773px #ddd, 1883px 1694px #ddd, 748px 182px #ddd, 1924px 1531px #ddd,
    100px 636px #ddd, 1473px 1445px #ddd, 1264px 1244px #ddd, 850px 1377px #ddd,
    987px 1976px #ddd, 933px 1761px #ddd, 922px 1270px #ddd, 500px 396px #ddd,
    1324px 8px #ddd, 1967px 1814px #ddd, 1072px 1401px #ddd, 961px 37px #ddd,
    156px 81px #ddd, 1915px 502px #ddd, 1076px 1846px #ddd, 152px 1669px #ddd,
    986px 1529px #ddd, 1667px 1137px #ddd;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 240s linear infinite;

    box-shadow: 387px 1878px #ddd, 760px 1564px #ddd, 1487px 999px #ddd,
    948px 1828px #ddd, 1977px 1001px #ddd, 1284px 1963px #ddd, 656px 284px #ddd,
    1268px 1635px #ddd, 1820px 598px #ddd, 642px 1900px #ddd, 296px 57px #ddd,
    921px 1620px #ddd, 476px 1858px #ddd, 658px 613px #ddd, 1171px 1363px #ddd,
    1419px 283px #ddd, 1037px 731px #ddd, 503px 663px #ddd, 1562px 463px #ddd,
    383px 1197px #ddd, 1171px 1233px #ddd, 876px 1768px #ddd, 856px 1615px #ddd,
    1375px 1924px #ddd, 1725px 918px #ddd, 952px 119px #ddd, 768px 1212px #ddd,
    992px 1462px #ddd, 1929px 717px #ddd, 1947px 755px #ddd, 1818px 1123px #ddd,
    1896px 1672px #ddd, 460px 198px #ddd, 256px 271px #ddd, 752px 544px #ddd,
    1222px 1859px #ddd, 1851px 443px #ddd, 313px 1858px #ddd, 709px 446px #ddd,
    1546px 697px #ddd, 674px 1155px #ddd, 1112px 130px #ddd, 355px 1790px #ddd,
    1496px 974px #ddd, 1696px 480px #ddd, 1316px 1265px #ddd, 1645px 1063px #ddd,
    1182px 237px #ddd, 427px 1582px #ddd, 859px 253px #ddd, 458px 939px #ddd,
    1517px 1644px #ddd, 1943px 60px #ddd, 212px 1650px #ddd, 966px 1786px #ddd,
    473px 712px #ddd, 130px 76px #ddd, 1417px 1186px #ddd, 909px 1580px #ddd,
    1913px 762px #ddd, 204px 1143px #ddd, 1998px 1057px #ddd, 1468px 1301px #ddd,
    144px 1676px #ddd, 21px 1601px #ddd, 382px 1362px #ddd, 912px 753px #ddd,
    1488px 1405px #ddd, 802px 156px #ddd, 174px 550px #ddd, 338px 1366px #ddd,
    1197px 774px #ddd, 602px 486px #ddd, 682px 1877px #ddd, 348px 1503px #ddd,
    407px 1139px #ddd, 950px 1400px #ddd, 922px 1139px #ddd, 1697px 293px #ddd,
    1238px 1281px #ddd, 1038px 1197px #ddd, 376px 1889px #ddd,
    1255px 1680px #ddd, 1008px 1316px #ddd, 1538px 1447px #ddd,
    1186px 874px #ddd, 1967px 640px #ddd, 1341px 19px #ddd, 29px 1732px #ddd,
    16px 1650px #ddd, 1021px 1075px #ddd, 723px 424px #ddd, 1175px 41px #ddd,
    494px 1957px #ddd, 1296px 431px #ddd, 175px 1507px #ddd, 831px 121px #ddd,
    498px 1947px #ddd, 617px 880px #ddd, 240px 403px #ddd;
}

#stars3:after {
    content: '';
    position: absolute;
    top: auto;
    width: 3px;
    height: 3px;
    background: transparent;

    box-shadow: 387px 1878px #ddd, 760px 1564px #ddd, 1487px 999px #ddd,
    948px 1828px #ddd, 1977px 1001px #ddd, 1284px 1963px #ddd, 656px 284px #ddd,
    1268px 1635px #ddd, 1820px 598px #ddd, 642px 1900px #ddd, 296px 57px #ddd,
    921px 1620px #ddd, 476px 1858px #ddd, 658px 613px #ddd, 1171px 1363px #ddd,
    1419px 283px #ddd, 1037px 731px #ddd, 503px 663px #ddd, 1562px 463px #ddd,
    383px 1197px #ddd, 1171px 1233px #ddd, 876px 1768px #ddd, 856px 1615px #ddd,
    1375px 1924px #ddd, 1725px 918px #ddd, 952px 119px #ddd, 768px 1212px #ddd,
    992px 1462px #ddd, 1929px 717px #ddd, 1947px 755px #ddd, 1818px 1123px #ddd,
    1896px 1672px #ddd, 460px 198px #ddd, 256px 271px #ddd, 752px 544px #ddd,
    1222px 1859px #ddd, 1851px 443px #ddd, 313px 1858px #ddd, 709px 446px #ddd,
    1546px 697px #ddd, 674px 1155px #ddd, 1112px 130px #ddd, 355px 1790px #ddd,
    1496px 974px #ddd, 1696px 480px #ddd, 1316px 1265px #ddd, 1645px 1063px #ddd,
    1182px 237px #ddd, 427px 1582px #ddd, 859px 253px #ddd, 458px 939px #ddd,
    1517px 1644px #ddd, 1943px 60px #ddd, 212px 1650px #ddd, 966px 1786px #ddd,
    473px 712px #ddd, 130px 76px #ddd, 1417px 1186px #ddd, 909px 1580px #ddd,
    1913px 762px #ddd, 204px 1143px #ddd, 1998px 1057px #ddd, 1468px 1301px #ddd,
    144px 1676px #ddd, 21px 1601px #ddd, 382px 1362px #ddd, 912px 753px #ddd,
    1488px 1405px #ddd, 802px 156px #ddd, 174px 550px #ddd, 338px 1366px #ddd,
    1197px 774px #ddd, 602px 486px #ddd, 682px 1877px #ddd, 348px 1503px #ddd,
    407px 1139px #ddd, 950px 1400px #ddd, 922px 1139px #ddd, 1697px 293px #ddd,
    1238px 1281px #ddd, 1038px 1197px #ddd, 376px 1889px #ddd,
    1255px 1680px #ddd, 1008px 1316px #ddd, 1538px 1447px #ddd,
    1186px 874px #ddd, 1967px 640px #ddd, 1341px 19px #ddd, 29px 1732px #ddd,
    16px 1650px #ddd, 1021px 1075px #ddd, 723px 424px #ddd, 1175px 41px #ddd,
    494px 1957px #ddd, 1296px 431px #ddd, 175px 1507px #ddd, 831px 121px #ddd,
    498px 1947px #ddd, 617px 880px #ddd, 240px 403px #ddd;
}
